<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Response</title>
</head>
<body>
    <h2>Form Submitted Successfully!</h2>
    <p><strong>Book:</strong> {{ book.title }}</p>
    <p><strong>ISBN:</strong> {{ book.isbn }}</p>
    <p><strong>Author:</strong> {{ book.author }}</p>
    <p><strong>Year of publishing:</strong> {{ book.year }}</p>
    <p><strong>Publisher:</strong> {{ book.publisher }}</p>
    <p><strong>Average Rating:</strong> {{ book.average_rating }}</p>

    <br>
    <a href="/">Go Back</a>
</body>
</html>
