<!DOCTYPE html>
<html lang='en-us'>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FastAPI test page</title>
	<link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>

<body>
	<h1>Fast API Machine Learning Project</h1>
	<br><br>
	<h2>Book Recommendation</h2>
	<p>Example usage: 0446672211 (Where the Heart Is (Oprah's Book Club (Paperback)))
	<br>
	<form id='bookForm'>
		<label for='book'>Book ISBN:</label>
		<input type='text' id='book' name='book' required>
		<br>
		<button type='submit'>Submit</button>
	</form>

	<script>
		document.getElementById('bookForm').onsubmit = function(event) {
					event.preventDefault();

					let book = document.getElementById('book').value.trim();
					if (!book) {
						alert('Please neter a book name!');
							event.preventDefault();
							return;
					}

					window.location.href = `/book/${encodeURIComponent(book)}`
		};
	</script>

	<br><br>
	<a href='/login'>Login/Sign up</a>

</body>
</html>
