<!DOCTYPE html>
<html lang='en-us'>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FastAPI test page</title>
	<link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>

<body>
	<h1>Book Recommendation API</h1>
	<br><br>
	<h2>Profile</h2>
	<br>
	<h3>Post New Rating</h3>
	<form id='RatingForm' method='post' action='/rating'>
		<label for='isbn'>Book ISBN:</label>
		<input type='text' id='isbn' name='isbn' required>
		<br><br>
		<label for='rating'>Rating:</label>
		<input type='text' id='rating' name='rating' required>
		<br><br>
		<label for='comment'>Comment: <label>
		<input type='text' id='comment' name='comment'>
		<br><br>
		<button type='submit'>Submit</button>
	</form>

	<br><br>
	<a href='/logout'>Logout</a>

</body>
</html>
